@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    text-decoration: none !important;
    margin: 0;
}

.main-list {
    background-color: #373b69;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #22254b;
    padding-bottom: 50px;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 2.14vh;
    width: 31vh;
}

@media screen and (max-width: 600px) {
    .movie {
        width: 22vh;
        margin: 1vh;
    }
    .overview h5 {
        font-size: 14px;
    }
    .more-info {
        display: flex;
        justify-content: flex-start;
    }
    .movie-info span {
        font-size: 12px;
    }

    .select-filter-container {
        margin-left: 10px;
        width: 20%;
    }

    .filter-c button {
        margin-right: 0;
    }
    input.nosubmit {
        width: 70% !important;
    }
    .filter-title {
        margin-right: 20px;
    }
    .clear-filter {
        font-size: 11px;
    }
}

.s-name {
    display: flex;
    text-align-last: justify;
    justify-content: space-between;
}
.search .nosubmit {
    border: none;
    padding: 0;
}

input.nosubmit {
    width: 280px;
    border: 1px solid rgb(255, 255, 255);
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    background-color: #22254b;
}

.overview h5 {
    margin-top: 0;
    text-align: center;
    color: antiquewhite;
    background-color: #22254b;
}

.movie:hover .overview {
    transform: translateY(0);
}

.load-more {
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
}

.load-more-container {
    background-color: #22254b;
    padding-bottom: 80px;
    padding-top: 8px;
    display: flex;
    justify-content: center;
}

.filter-c {
    display: flex;
    justify-content: center;
}
.filter-c button {
    margin-right: 1rem;
    min-width: 4rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #f1356d;
    font-weight: bold;
    cursor: pointer;
}

button.active {
    color: white;
    background-color: #22254b;
}

.filter-title {
    text-align: center;
    color: #eee;
    margin-top: auto;
    margin-right: 50px;
}

.not-found {
    color: #fff;
    background-color: #22254b;
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    margin-top: revert;
}

.clear-filter {
    margin-left: 15px;
    min-width: 4rem;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    background-color: transparent;
    color: #f1356d;
    font-weight: bold;
    cursor: pointer;
}