@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    text-decoration: none !important;
    margin: 0;
}
.main-list {
    background-color: #373b69;
}
.main {
    display: flex;
    flex-wrap: wrap;
    background-color: #22254b;
    padding-bottom: 50px;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 2.14vh;
    width: 31vh;
}

@media screen and (max-width: 600px) {
    .movie {
        width: 22vh;
        margin: 1vh;
    }
    img:before {
        content: " ";
        font-size: 1000px;
        background-image: url(./assets/img/back-details-1.jpg);
        display: flex;
        width: 300px;
        height: 210px;
        z-index: 0;
      }
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    background-color: #22254b;
}

.overview h5 {
    margin-top: 0;
    text-align: center;
    color: antiquewhite;
    background-color: #22254b;
}

.movie:hover .overview {
    transform: translateY(0);
}

.load-more {
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
}
.load-more-container {
    background-color: #22254b;
    padding-bottom: 80px;
    padding-top: 8px;
    display: flex;
    justify-content: center;
}

..filter-c {
    display: flex;
    justify-content: center;
}
.filter-c button {
    margin-right: 1rem;
    min-width: 4rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: 2px solid #22254b;
    background-color: transparent;
    color: #f1356d;
    font-weight: bold;
    cursor: pointer;
}
button.active {
    color: white;
    background-color: #22254b;
}

.filter-title {
    text-align: center;
    color: #eee;
}

.not-found {
    color: #fff;
    background-color: #22254b;
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    margin-top: revert;
}

/* @media screen and (max-width: 600px) {
    .filter-c {
        width: 60%;
    }
    .filter-c button {
        width: 10%;
    }
} */