nav {
    background-color: #373b69;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.nav-link {
    color: antiquewhite !important;
}
.nav-link:hover {
    color: rgb(255, 145, 0) !important;
}

.search {
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
}

.select-filter {
    background-color: transparent;
    border: 2px solid #22254b;
    color: #f1356d;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: fit-content;
}
.select-filter-container {
    background-color: transparent;
    border-radius: 50px;
    color: #fff;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
}

.search::placeholder {
    color: #f1356d;
}

.search:focus {
    background-color: #22254b;
    outline: none;
}

/* @media screen and (max-width: 650px) {
    .search {
        width: 35%;
    }
} */