@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  text-decoration: none;
  background-color: #373b69;

}

img:before {
  content: " ";
  font-size: 1000px;
  background-image: url(./assets/img/back-details-1.jpg);
  display: flex;
  width: 300px;
  height: 420px;
  z-index: 0;
}

.sort-option {
  border-radius: 25px;
}
